<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 50%; height: 500; margin-left: auto; margin-right: auto;">
            <tr>
                <td> A </td>
                <td> B </td>
                <td> C </td>
                
                <td>  Interval </td>
                
                <td> D </td>
                <td> E </td>
                <td> F </td>
            </tr>
            <tr>
                <td> <%= a1 %> <br> a1 </td>
                <td> <%= a2 %> <br> a2 </td>
                <td> <%= a3 %> <br> a3 </td>
                
                <td>   </td>
                
                <td> <%= a4 %> <br> a4 </td>
                <td> <%= a5 %> <br> a5 </td>
                <td> <%= a6 %> <br> a6 </td>
            </tr>
            <tr>
                <td> <%= b1 %> <br> b1 </td>
                <td> <%= b2 %> <br> b2 </td>
                <td> <%= b3 %> <br> b3 </td>
                
                <td>   </td>
                
                <td> <%= b4 %> <br> b4 </td>
                <td> <%= b5 %> <br> b5 </td>
                <td> <%= b6 %> <br> b6 </td>
            </tr>
            <tr>
                <td> <%= c1 %> <br> c1 </td>
                <td> <%= c2 %> <br> c2 </td>
                <td> <%= c3 %> <br> c3 </td>
                
                <td>   </td>
                
                <td> <%= c4 %> <br> c4 </td>
                <td> <%= c5 %> <br> c5 </td>
                <td> <%= c6 %> <br> c6 </td>
            </tr>
            <tr>
                <td> <%= d1 %> <br> d1 </td>
                <td> <%= d2 %> <br> d2 </td>
                <td> <%= d3 %> <br> d3 </td>
                
                <td>   </td>
                
                <td> <%= d4 %> <br> d4 </td>
                <td> <%= d5 %> <br> d5 </td>
                <td> <%= d6 %> <br> d6 </td>
            </tr>
            <tr>
                <td> <%= e1 %> <br> e1 </td>
                <td> <%= e2 %> <br> e2 </td>
                <td> <%= e3 %> <br> e3 </td>
                
                <td>   </td>
                
                <td> <%= e4 %> <br> e4 </td>
                <td> <%= e5 %> <br> e5 </td>
                <td> <%= e6 %> <br> e6 </td>
            </tr>
            <tr>
                <td> <%= f1 %> <br> f1 </td>
                <td> <%= f2 %> <br> f2 </td>
                <td> <%= f3 %> <br> f3 </td>
                
                <td>   </td>
                
                <td> <%= f4 %> <br> f4 </td>
                <td> <%= f5 %> <br> f5 </td>
                <td> <%= f6 %> <br> f6 </td>
            </tr>
        </table>
    <form action="/book" method="POST">
        <input type="text" placeholder="Name" name="seatName"/>
        <input type="text" placeholder="Number" name="mobileNumber"/>
        <button type="submit"> Submit </button>
    </form>
</body>
</html>